table {
    border-spacing:  0;
}

#topinfo {
    height:30px;
}
#container{
    float:left;
    background: black;
    padding:10px;
}

#nextblock {
    padding:20px;
}
#nextblock table{
    border: 1px solid wheat;
}
#rightinfo {
    float:right;
}

#game{
    float:left;
    border:1px solid white;
}

.block{
    width: 30px;
    height: 30px;
}
.blank {
    background: black;
}

.opened{
    background: gray;
}
.closed {
    background: black;
}
.checked{
    background: blue;
}
.mine{
    background: red;
}
.cr_0{

}
.cr_1{

}

.cr_2{

}
.cr_3{
    
}

.cr_4{

}
.cr_5{
    
}

.cr_6{

}
.cr_7{
    
}